<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.job">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JOB">

        <activity
            android:name=".Dash_Act"
            android:exported="true"
            android:label="@string/title_activity_dash"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hire_info"
            android:exported="false"
            android:label="@string/title_activity_hire_info"
            android:theme="@style/Theme.JOB.NoActionBar" />
        <activity
            android:name=".Hire_signin_verification"
            android:exported="false" />
        <activity
            android:name=".Hire_SIGN.Hire_Signup"
            android:exported="false" />
        <activity
            android:name=".work_info"
            android:exported="false"
            android:label="@string/title_activity_work_info"
            android:theme="@style/Theme.JOB.NoActionBar" />
        <activity
            android:name=".Work_SIGN.Work_SignUp"
            android:exported="false" />
        <activity
            android:name=".Hire_SIGN.Hire_SignIn"
            android:exported="false" />
        <activity
            android:name=".Work_SIGN.Work_SignIn"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="false" />
        <activity
            android:name=".Work_SIGN.work_signin_verification"
            android:exported="false" />
        <activity
            android:name=".Work_Hire"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Work_dash_act"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>